<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>form</title>
  <link rel="stylesheet" href="../stylesheets/style.css">
  <style>
    *{
      font-family: 'Montserrat';
    }
  </style>
</head>
<body>
     <div id="back">
       <div id="card">
      <img src="https://i.ya-webdesign.com/images/boy-avatar-png-7.png" alt="">
         <form action="/labra" method="POST">
           <input name="username" type="text" placeholder="name">
           <input name="email" type="email" placeholder="email">
           <input id="sub" type="submit">
         </form>
       </div>
     </div>
    
</body>
</html>